/*screenreader-texts:*/
.screenreader-only {
    height: 0;
    width:0;
    overflow: hidden;
    display:block;
}


/* variables */
/* --------- */

:root {
  /*for presentation interface*/
  --piw: 439.4;/*513;*/ /*438*/
  --piw2: 464.4;

  /*for padding*/
  --paddingPpage: 6.5vh 7.5vw 0vh 7.3vw;
  --paddingPpageWide: 6.5vh 20vw 0vh 20vw;
  --paddingPpageNeg: -6.5vh -7.5vw -0vh -7.3vw;
}

/* presentation main rules */
.ppage{
  visibility: hidden;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  height: unset;
  overflow:auto;

  display:none;
  box-sizing: border-box;
  padding: var(--paddingPpage);

  /*font-size: calc(1.5em + 1vh);
  line-height: calc(1.1em + 1vh);*/
}
.ppage.active{
  display:block;
  visibility: visible;
}

#praesentationrahmen{
  display:none;
}
#praesentationrahmen.fullscreen {
  display: block;
}
#praesentation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height:100%;
  overflow: auto;
  left:0;
  font-size: calc(11.55/10*(0.5em + 1vh));
}



.griditem{
  margin:0;
}
.blocks .griditem{
  z-index: 1;
  position: relative;
  max-width: 100%;
}


section.inline{
  gap: 1em;
}
section div.pblock{
  justify-self: normal
}

div > img.bgimg{
  top: 0;
  left: 0;
}

img.vertical.griditem{
  width: 100%;
  object-fit: contain;
  object-position: top;
  max-height: 70vh;
}
.imageblock img{
	max-width: 100%;
	max-height: 80vh;
}

/*because it screws up the font otherwise*/
.ppage b{
  font-weight: normal;
}
.ppage i{
  font-style: normal;
}


.ppage p{
  margin: 0;

}

.ppage h1,
.ppage h2,
.ppage h3{
  text-align: center;
  margin: 0;
}
.ppage h2,
.ppage h3{
  margin-top: 0;
}



.ppage section h1,
.ppage section h2,
.ppage section h3{
  text-align: left;
}

.gridx1 div,
.gridx1 p,
.gridx2 div,
.gridx2 p{
  justify-self:center;
}





/*code inline*/
.ppage p code{
  background-color: hotpink;
  padding: 0 0.1em 0.05em 0.1em;
}
/*codeblock*/
.ppage code.codeblock{
  overflow-wrap: break-word;
  height: fit-content;
  height: -moz-fit-content;

  max-width: 45em;

}
.ppage code.codeblock ol,
.ppage code.codeblock ul
{
  margin: 0;
  /*padding: 0.5em 1em 0.5em 0;*/
  padding: 0;
}

.ppage a{
	display: inline;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: normal;
}
.hljs-title,
.hljs-section {
  font-weight: normal;
}

.hljs-name,
.hljs-strong {
  font-weight: normal;
}
.hljs-code,
.hljs-emphasis {
  font-style: normal;
}


/*table*/
.ppage table{
  position: relative;
  margin:auto;
  border-collapse: collapse;
}
.ppage table, th, td{
  border: 0.1em solid #030303;
}

/*chart*/
.ppage section.chart{
  justify-self: center;
}

/*extra thin to 1:1*/
@media only screen and (max-width: 100vh){
  /*div.blocks .ppage.active, div.blocks .ppage{
    display: block;
  }*/
  #praesentation{
    font-size: calc(11.55/10*(0.5em + 1vw));
  }
  .ppage section.inline{
  	flex-wrap: wrap;
  }
  img.vertical.griditem{
    min-height: unset;
  }
}

/*4:3 to 2:1*/
@media only screen and (max-height: 75vw){
  .ppage section.chart{
    /*max-height: calc(113.7vh/1.618); /*85.2*(4/3*vh) = 113.7vh; golden ratio = 1.618*/
  }
}

/* 2:1 extra wide*/
@media only screen and (max-height:50vw){
  .ppage section.chart{
    max-width: calc(170.4vh); /*85.2vw; 1vw=2vh; 85.2vw = 42,6vh*/
  }
  .ppage{
    padding:var(--paddingPpageWide);
  }
}




/* presentation interface */
/* ====================== */


/* general */
/* ------- */

#controlarea{
  margin: 0;
  padding: 0;
  left: 0;
  bottom: -0.25%;/*-0.75%*/
  width: 40vh/*%*/;
  height: 7.07vh/*auto*/; /* width/562*99.38 */
  position: fixed;
  z-index: 1001;
}

/*breaking points controlarea*/
/*tablet portrait*/
@media only screen and (max-width: 80vh){
  #controlarea{
    width: 40vw;
    height: 7.07vw;
  }
}
/*smartphone portrait*/
@media only screen and (max-width: 60vh){
  #controlarea{
    width: 95vw;
    height: 16.8vw;
  }
}


/* interface interaction */
/* --------------------- */

/* buttons general */
#controlarea button, #controlarea a{
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  margin:0;
  padding:0;
  overflow: visible;

  visibility: visible;
  opacity: 1;
  transition-duration: 0.3s;
  transition-property: opacity, visibility;
  transition-delay: 0.22s;
  animation-name: appear;
  animation-duration: 0.52s;
}
#controlarea button img, #controlarea a img{
  width: 100%;
}
#controlcomment img{
  height: 40%;
}

#controlarea.closed button, #controlarea.closed a{
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.05s;
}

@keyframes appear{
  0%  {opacity: 0}
  44% {opacity: 0}
  100%{opacity: 1}
}

/* open menu */
#controlarea #controlarea_open-menu{
  visibility: hidden;
  left: 0;
  bottom: 0;
  width: 19%;
  height: 100%;
}
#controlarea.closed #controlarea_open-menu{
  visibility: visible;
}
#controlarea_open-menu div{
  left: 0;
  position: absolute;
}
#controlarea_open-menu_rect1{
  bottom: 0;
  width: 100%;
  height: 100%;
}
#controlarea_open-menu_rect2{
  bottom: 100%;
  width: 40%;
  height: 93%;
}

/* back in */
#controlarea_back-in{
  left: 81%;
  bottom: 42%;
  width: 8%;
  height: calc(8/5.84*33%);
}

/* first slide */
#controlarea_first-slide{
  left: calc(20.9/var(--piw2)*100%); /* 20.9/513*100 */
  bottom: calc(0/var(--piw2)*100/5.84*33%); /* 0/513*100 */
  width: calc(45.6/var(--piw2)*100%); /* 45.6/513*100 */
  height: calc(45.6/var(--piw2)*100/5.84*33%); /* 45.6/513*100 */
}
/* previous slide */
#controlarea_previous-slide{
  left: calc(84.3/var(--piw2)*100%);
  bottom: calc(0/var(--piw2)*100/5.84*33%);
  width: calc(45.6/var(--piw2)*100%);
  height: calc(45.6/var(--piw2)*100/5.84*33%);
}
/* next slide */
#controlarea_next-slide{
  left: calc(197.9/var(--piw2)*100%);
  bottom: calc(0/var(--piw2)*100/5.84*33%);
  width: calc(45.6/var(--piw2)*100%);
  height: calc(45.6/var(--piw2)*100/5.84*33%);
}
/* last slide */
#controlarea_last-slide{
  left: calc(262.2/var(--piw2)*100%);
  bottom: calc(0/var(--piw2)*100/5.84*33%);
  width: calc(45.6/var(--piw2)*100%);
  height: calc(45.6/var(--piw2)*100/5.84*33%);
}

/*preview-screen*/
#controlarea #controlarea_preview-screen,
#controlarea #controlcomment{
  left: calc(6.2/var(--piw)*100%);
  bottom: calc(78.3/var(--piw)*100/5.84*33%);
  width: calc(55.7/var(--piw)*100%);
  height: calc(55.7/var(--piw)*100/5.84*33%);
  /*transition-delay: 1s;*/

}
/*top-button: back-to-editor/controlarea_multiuserdialog*/
#controlarea #controlarea_back-to-editor,
#controlarea #controlarea_multiuserdialog{
  left: calc(6.2/var(--piw)*100%);
  bottom: calc(153.6/var(--piw)*100/5.84*33%);
  width: calc(55.7/var(--piw)*100%);
  height: calc(55.7/var(--piw)*100/5.84*33%);
  /*transition-delay: 1s;*/

}

/* animated backgrounds */
/* -------------------- */

#controlarea_open{
  position: absolute;
  visibility: visible;
  /*pointer-events: none;*/
}
#controlarea_close{
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
#controlarea-vertical_open{
  position: absolute;
  visibility: visible;
  width: calc(61.9/var(--piw)*100%);
  bottom: 0;
}
#controlarea-vertical_close{
  position: absolute;
  visibility: hidden;
  width: calc(61.9/var(--piw)*100%);
  bottom: 0;
}

#controlarea.closed #controlarea_close{
  visibility: visible;
}
#controlarea.closed #controlarea_open{
  visibility: hidden;
}
#controlarea.closed #controlarea-vertical_close{
  visibility: visible;
}
#controlarea.closed #controlarea-vertical_open{
  visibility: hidden;
}

/*===========================*/

/*.controlbutton.controlbuttonleft {
    display: block;
    margin-bottom: 2vh;
}

.controlbutton {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
.controlbutton img{
  height: auto;
}
.hide .controlbutton{
  display:none;
}
.controlbuttonbubble{
  display:none;
}
.hide .controlbutton.controlbuttonbubble{
  display:block;
}*/


/*preview-selection:*/
#previewselector {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: #f0f0f0;
    background: #323232;
    width: 100%;
    text-align: center;
    padding-bottom:2em;
    display:none;
}

.previewmode #previewselector{
  display:block;
}
.previewmode {
    background: #323232;
    position: fixed;
    /* z-index: 900; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.previewmode #praesentation {
  margin: 10%;
  width: 80%;
  height: 80%;
}

.previewmode #praesentation.preview-ipad{
  margin:0;
  width:50vw;
  height:80vh;
  left:35vw;
  top:15vh;
}
/*i-phone preview options:*/
#praesentation.preview-iphone .ppage.active {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.previewmode #praesentation.preview-iphone {
    left: 35vw;
    width: 30vw;
    height: 80vh;
}
