.ppage{
  display:none;
}
.ppage.active{
  display:block;
}

#controlarea{
  position:fixed;
  left:0;
  bottom:0;
  z-index: 1001;
}

.controllbutton.controllbuttonleft {
    display: block;
    margin-bottom: 2vh;
}

.controllbutton {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
.hide .controllbutton{
  display:none;
}
.controllbuttonbubble{
  display:none;
}
.hide .controllbutton.controllbuttonbubble{
  display:block;
}
