/*feedback: alternative url: givefeedback (/node/add/feedback) */
/*hide all not-needed*/
.page-node-add-feedback #navigation,
.page-node-add-feedback #breadcrumb,
.page-node-add-feedback #header,
.page-node-add-feedback #page-title,
.page-node-add-feedback #footer-wrapper {
    display: none;
}

@font-face {
    font-family: "rubikReg";
    src: url("../fonts/Rubik-Regular.ttf");
  }

body{
    font-family: "rubikReg";
    font-size: 1em;
}

p{
    line-height: 1.4em;
}

.page-node-add-feedback .region.region-content {
    max-width: 25em;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3.5em;
}

.page-node-add-feedback .content a {
    position: absolute;
    top: 0;
    left: 1em;
    overflow: hidden;
    color: #00000000;
    background-image: url(arrow-back.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
}

.page-node-add-feedback input#edit-submit {
    background:#4e4e4e;
    color:white;
    padding:0.8em 1em;
    border-radius:6px;
    border: none;
    font-family: 'rubikReg';
    transition:background 0.2s;
}
.page-node-add-feedback input#edit-submit:hover{
    background:black;
}

body.page-node-add-feedback{
    background: #fcfcfc;
}

.marker, 
.form-required{
display: none;
}

.content h1{
    text-align: center;
    font-weight:normal;
    font-size:1.80em;
    margin: 1em 0;
}

label{
    font-weight: normal;
}
label.option {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.form-type-radio input,
.form-type-checkbox input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    border: 0.15em solid black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    outline: none;

}

.form-type-radio input:checked::before,
.form-type-checkbox input:checked::before{
    content:'x';
    overflow: hidden;
    position: relative;
    width: 0;
    height: 0;
    display: block;
    border-radius: 49%;
    border: solid black 0.18em;
    left: 50%;
    top: 50%;
    margin-left: -0.18em;
    margin-top: -0.18em;
    cursor: pointer;
}

.resizable-textarea .grippie{
    display: none;
}

.form-textarea-wrapper textarea{
    max-width: 25em;
    border: 0.13em solid black;
    padding: 0.2em;
    height:12em;
}

div#main div.messages.error{
    display: none;
}

