/*feedback: alternative url: givefeedback (/node/add/feedback) */
/*hide all not-needed*/
.page-node-add-feedback #navigation,
.page-node-add-feedback #breadcrumb,
.page-node-add-feedback #header,
.page-node-add-feedback #page-title,
.page-node-add-feedback #footer-wrapper {
    display: none;
}

@font-face {
    font-family: "rubikReg";
    src: url("../fonts/Rubik-Regular.ttf");
  }

body{
    font-family: "rubikReg";
}

.page-node-add-feedback .region.region-content {
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

.page-node-add-feedback .content a {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: xxx-large;
}

.page-node-add-feedback input#edit-submit {
    background:#4e4e4e;
    color:white;
    padding:15px;
    border-radius:5px;
}

body.page-node-add-feedback{
    background: #fcfcfc;
}

.marker, 
.form-required{
display: none;
}

h1{
    text-align: center;
    font-weight:normal;
    font-size:180%;
}

