/*special declarations for presentations online, mainly comments*/
#slidenotepresentation > div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#comments {
    background: #f4f4f4;
    border-radius:1vh;
    position: fixed;
    left: 5vw;
    bottom: 7vh;
    display: none;
    max-width:80vw;
}

#comments.show.dialogbox{
    box-shadow:0 0 5px 5px rgba(0,0,0,0.25);
    display:grid;
    overflow:hidden;
    grid-template-areas:
        "title"
        "comments"
        "hidebutton"
        "form"
        "sendbutton";
    grid-gap: 1ch;
    grid-template-columns:100%;
}


.comment{
	display:none;
}
.comment.show{
	display:block;
}

div#edit-author--2 {
    display: none;
}

fieldset#edit-comment-body-und-0-format {
    display: none;
}

div#edit-field-pagenr {
    display: none;
}

input#edit-preview, input#edit-submit {
    display: none;
}

.comment-form{
	display:none;
}
.comment-form.show{
	display:block;
}

.dialogtitle{
    text-align:center;
    height:3em;
    display:grid;
    grid-template-columns: 5ch 5ch 1fr 5ch 10ch;
    align-items:end;
    align-content:center;
    justify-content: center;
    grid-template-areas:". navprev title navnext close";
    margin:0;
    padding:0;
    font-size:large;
}
.dialogtitle span{
    grid-area:title;
 }
 button#previousCommentSlide {
    grid-area: navprev;
}

button#nextCommentSlide {
    grid-area: navnext;
}
button.commentnav {
    border: none;
    background: none;
    font-size: large;
    opacity:0.3;
}

button.commentnav.active{
  opacity:1;
}

button {
    cursor: pointer;
}
  .dialogbox .dialogtitle .dialogclosebutton{
    align-self:start;
    justify-self:end;
    border:none;
    background:none;
    grid-area:close;
    margin-right:1vh;
    margin-top:1vh;
  }
  .dialogclosebutton:hover{
    filter:brightness(0.4);
  }
  .dialogcontent{
    border-radius: 3vh;
    min-height: 5em;
    display: grid;
    align-items: center;
    max-width:80vw;
    max-height:82vh;
    overflow-y:auto;
  }
  .dialogcontent > a{
    display:none;
  }

#comments > div {
    background: #fff;
}

button#commentAddButton {
    background: white;
    border-radius: 1ch;
    padding-left: 2ch;
    padding-right: 1ch;
    justify-self: center;
}

#comments form label {
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  }

.comment {
    margin-left: 3vh;
}


form#comment-form textarea {
    margin-left: 1ch;
    margin-right: 1ch;
    border-radius: 1ch;
    resize: vertical;
    max-width: 100%;
}

form#comment-form {
  width: 100%;
  }

form.comment-form.show {
    justify-self: center;
}

button.comment-form.show {
    margin-left: 1ch;
    margin-bottom: 1em;
    justify-self: start;
    border-radius: 0.5ch;
    background: #505050;
    color: white;
}

span#controlcommenttotal {
    display: none;
}

span#controlcommentcountseparator {
    display: none;
}

.hasComments span#controlcommentcount{
  display:block;
}
span#controlcommentcount {
    display:none;
    position: absolute;
    right: 0.6ch;
    bottom: 0.5ch;
    border: 2px solid gray;
    border-radius: 100%;
    width: 2ch;
    height: 2ch;
    background: white;
}

/*loading screen */
#slidenoteloadingscreenwrapper,
#slidenoteGuardianPasswortPrompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 2000;
}

#slidenoteGuardianPasswordPromptTemplate,
#slidenoteeditorloadingscreen {
    height: 60vh;
}
#slidenoteloadingscreenwrapper{
  background:white;
}

#slidenoteeditorloadingscreen img {
    height: 100%;
}

#slidenoteGuardianPasswordPromptTemplate {
  height: 50vh;
  width:50vh;
  padding-top:25vh;
  text-align: center;
}

.hidden {
    display: none;
}
/*loadingscreen animation*/
#slidenoteloadingscreenwrapper #loadingcircle{
  animation-name: loading-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 500;
  position: relative;
  z-index: 1500;

}
@keyframes loading-circle {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

#slidenoteloadingscreenwrapper.midstate #loadingcircle{
  animation-name:none;
  transition:valueTransform;
}

#slidenoteloadingscreenwrapper.endstate #loadingcircle{
  animation-name: loading-circle2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes loading-circle2 {
  0%{
    transform:rotate(0deg);
    height:60vh;
    opacity:1;
  }
  50%{
    opacity:0.8;
  }
  100%{
    transform:rotate(360deg);
    width:0px;
    opacity:0;
  }
}
#circle-colorful{
  display:none;
}
.endstate #circle-colorful{
  display:block;
  position: absolute;
  left:50%;
  top:50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: var(--active-object-color);
  border-radius: 50%;
  opacity: 0;
  z-index: 9;

  animation-name: circle-colorful;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes circle-colorful {
  0%{opacity: 1; transform:translate(-50%, -50%) scale(1);}
  70%{opacity: 0.5; transform:translate(-50%, -50%) scale(30);}
  100%{opacity: 0; transform:translate(-50%, -50%) scale(30);}
}

.endstate{
  animation-name:hideloadingscreen;
  animation-duration:1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes hideloadingscreen{
  0%{opacity:1;height:100vh;}
  80%{opacity:0;height:100vh;}
  100%{display:none;height:0;}
}
