/*welcome-screen: alternative url: /welcome (node-id on beta: 186)*/

.page-node-186 #header, 
.page-node-186 #navigation, 
.page-node-186 #footer-wrapper {
    display: none;
}

@font-face {
    font-family: "rubikReg";
    src: url("../fonts/Rubik-Regular.ttf");
  }

@font-face {
    font-family: "rubikMed";
    src: url("../fonts/Rubik-Medium.ttf");
  }

body{
    font-family: "rubikReg";
    font-size: 1em;
    overflow: hidden;
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

#block-views-my-presentations-block .content, #block-views-my-slidenotes-block .content {
    height: calc(100vh - 20em); /* die 20em sind willkürlich*/
    position: relative;
    overflow: auto;
}

.page-node-186 .view-header a {
    background: #505050;
    padding-left: 0.8em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0.6em;
    margin-bottom: 1em;
    display: block;
    border-radius: 0.5em;
    color: white;
    font-weight: normal;
    margin-left: 0;
    transition: 0.3s;
}

.page-node-186 .view-header a:hover{
    background-color: #313131;
    text-decoration: none;
}

.page-node-186 .views-field a {
    display: block;
    width: 100%;
    color: black;
    font-weight: normal;
    font-family: 'rubikMed';
    text-overflow: ellipsis;
}

.page-node-186 .views-field.views-field-title {
    margin-top: 10px;
}

.page-node-186 .views-field-field-slidenotenode span.field-content a {
    display: unset;
}

.page-node-186 .views-row {
    background: #f3f3f3;
    border-radius: 0.5em;
    padding-left: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.7em;
    padding-right: 0.6em;
    margin-bottom: 1em;
    margin-left:0;
    transition: 0.3s;
}

.page-node-186 .views-row:hover{
    text-decoration: none;
    background-color: #DEECEE;
}
.field-content:a{
    text-decoration: none;
}

.page-node-186 div.column-block {
    background: none;
    border: none;
}

.page-node-186 .submitted {
    display: none;
}

.page-node-186 .node {
    border: none;
}

.column-block .content{
    padding:0;
}

.node {
    margin-bottom: 1.5em;
    padding:0;
    border:none;
    background-color: #fcfcfc;

}

.page-node-186 .view-header a img {
    margin-right: 2ch;
    height: 1em;
}

.page-node-186 .column-block h2 {
    border-bottom: none;
    font-weight: normal;
    font-family: 'rubikReg';
    font-size: 1.25;
    margin-bottom: 1.5em;
}

.page-node-186 h1#page-title {
    background: none;
    color: #626262;
    text-align: center;
    font-weight:normal;
    font-family: 'rubikReg';
    font-size: 2em;
}

.page-node-186 div#node-186 {
    text-align: center;
    font-weight:normal;
    font-size: 2em;
}

.page-node-186 div#main {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) and (min-width: 375px){
    #block-views-my-presentations-block .content, 
    #block-views-my-slidenotes-block .content {
        height: calc(50vh - 12em);
        border-bottom: 0.15em solid #626262;
    }
    div#node-186{
        margin-bottom: 0.3em;
    }
}
@media only screen and (max-width: 374px) and (min-width: 287px){
    #block-views-my-presentations-block .content, 
    #block-views-my-slidenotes-block .content {
        height: calc(50vh - 14em);
        border-bottom: 0.15em solid #626262;
    }
    div#node-186{
        margin-bottom: 0.3em;
    }
}
@media only screen and (max-width: 287px){
    #block-views-my-presentations-block .content, 
    #block-views-my-slidenotes-block .content {
        height: calc(50vh - 15em);
        border-bottom: 0.15em solid #626262;
    }
    div#node-186{
        margin-bottom: 0.3em;
    }
}
