#slidenotediv #imagesblock{
  display:none;
}

#slidenotediv #imagesblock.visible{
  display:grid;
}
.imagenotfound{
  color:red;
  font-weight:bold;
  font-style:italic;
}

.imageblock {
  text-align:center;
}

h1 img{
  /*max-height:75px;*/
  height: 0.75em;
}

#insertarea img.insertmenu-preview-image {
    width: 100%;
    display: block;
    /*margin-top:1em;*/
    margin-left:auto;
    margin-right:auto;
}

#imagesuploadblock{
  display:none;
}

/*new stuff:*/
#imagegallery{
  grid-area:unset;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
  margin-top:6.1em;
  color:black;
  margin-right: calc(var(--grid-margin)*var(--emToVh)*1vh);
  margin-left: calc(var(--grid-margin)*var(--emToVh)*1vh);
  visibility: hidden;
}
#imagegallery.active{
  visibility:unset;
}
#imagegallery .arrow_box:before,
#imagegallery .arrow_box:after{
  left: calc((var(--grid-s) - var(--grid-margin))*var(--emToVh)*1vh + 1.5em);
}

#imagegallerybox{
  background: rgba(255,255,255,0.5);
  height: 100%;
  border-radius: calc(13/10.8*1vh) calc(13/10.8*1vh) 0 0;
  max-height: calc(100vh - var(--grid-s)*var(--emToVh)*0.32vh - 6.1em);
}

#imagegallerybox > div {
  text-align: center;
  margin-top: calc(17/10.8*1vh);
  margin-bottom: calc(20/10.8*1vh);
}

#imagegallerybox > button{
  background:white;
  border:none;
  width:85%;
  height:3em;
  border-radius: 1vh;
  margin-left: calc(7/10.8*1vh);
}

#imagegallerybox button:hover,
#imagegallerybox button:focus{
  filter:brightness(0.5);
}

.plusbutton img{
  margin-bottom:-0.3em;
  margin-right:1vh;
  height:1.5em;

}

#imagegallery ul {
  overflow-y: auto;
  padding-left: 0;
  list-style: none;
  max-height: calc(95.45vh - var(--grid-s)*var(--emToVh)*0.32vh - 10.1em);
  overflow-x: hidden;
  /*background:#f4f4f4;*/
  border-radius:1vh;
  margin-top: calc(9/10.8*1vh);
}

#imagegallery li {
  background:white;
  display: inline-grid;
  width: 82%;
  /*height: 7em;*/
  overflow: hidden;
  /*grid-template-areas: "minus title" "usedslides usedslides" "image image";*/
  grid-template-areas: "title" "usedslides" "minus" "image";
  grid-template-columns: auto;
  grid-template-rows: calc(30/16*1em) calc(20/16*1em) calc(25/16*1em) calc(97/10.8*1vh);
  margin: calc(13/10.8*1vh);
  border-radius: calc(12.2/10.8*1vh) calc(12.2/10.8*1vh) 0 0;
  padding:0;
}

button.imagegallery-delbutton {
  grid-area: minus;
  border-radius: calc(2.5/11*1em);
  height: calc(20/11*1em);
  width: calc(79/11*1em);
  padding:0;
  border:none;
  background: var(--lvl3-button-focus);
  font-size: calc(11/20*1em);
  color: white;
  text-align: center;
  align-self: start;
  margin-right: auto;
  position: relative;
  margin-left: calc(13/10.8*1vh);

}

.imagegallery-delbutton img, .imagegallery-delbutton svg{
  height: calc(12/11*1em);
  /*Temporary filter for .png-image*/
  /*filter: brightness(50%) contrast(200%) invert();*/
  position: absolute;
  top: calc(4.2/11*1em);
  left: calc(6.4/11*1em);
}

.imagegallery-delbutton::after {
  content: " delete";
  position: absolute;
  top: calc(4/11*1em);
  left: calc(27/11*1em);
}

.imagegallery-name {
    grid-area: title;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: calc(13/10.8*1vh);
    padding-top: calc(12/10.8*1vh);
    font-size: calc(15/20*1em);
}

.imagegallery-usedslides {
    grid-area: usedslides;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #626262;
    padding-left: calc(13/10.8*1vh);
    font-size: calc(13/20*1em);
}

.imagegallery-unnamed, .imagegallery-unconnected{
  /*font-style:italic;*/
}


button.imagegallery-image {
    grid-area: image;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background: none;
    border: none;
}

#imagegallery .imagegallery-image img {
    height: unset;
    width: 100%;
}

/*imageupload*/
.dialogbox.imgtourlresizedialog .dialogcontent{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:"title title" "preview buttons";
  grid-template-rows: 3em 1fr;
  grid-gap:4.6vh; /*50px in 1920x1080*/
  width:95vh;

}
.imgtourl_dialog_innertitle{
  justify-self:center;
  grid-area:title;
  align-self:center;
}
#imageuploadoriginalimage{
  max-height:37vh;
  max-width: 42vh;
}
.imageuploadpreview{
  overflow:hidden;
  justify-self: end;
  align-self:start;
  grid-area:preview;
  max-height:37vh;
  border:1px;
}
.dialogbox.imgtourlresizedialog ul{
  justify-self:start;
  grid-area:buttons;
  list-style:none;
  padding:0;
  margin:0;
  display:grid;
  justify-items:start;
}
.dialogbox.imgtourlresizedialog li{
  margin-bottom:1vh;
  margin-top:1vh;
}
.resizebutton{
  height:8.3vh;
  border:none;
  box-shadow:0 0 3px 3px rgba(0,0,0,0.25);
  border-radius:1vh;
  background:white;
}
.resizebutton:hover{
  background:#9c9c9c;
}
.resizebuttonsmall{
  width:13vh;
}
.resizebuttonmedium{
  width:19.5vh;
}
.resizebuttonlarge{
  width:28vh;
}
.resizebuttonoriginal{
  width:16.2vh;
}
/*buildImageSelectionDialog*/
#imageselectionlist ul {
    display: block;
    list-style: none;
    width: 90%;
    height: 33vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#imageselectionlist li, .importfile-image-preview-block li {
    display: inline-block;
    width: 12.7vh;
    height: 12.7vh;
    margin: 1vh 1vh;
    background: white;
    border-radius: 1vh;
    box-shadow: 0 0px 4px 3px rgba(0,0,0,0.25);
    padding: 0.5vh 1vh 0 1vh;
}

#imageselectionlist button.imagegallery-image {
    width: 12vh;
    height: 7.8vh;
}

#imageselectionlist img {
    /* object-fit: cover; */
    /* height: 7.8vh; */
}
button#imageselectionuploadbutton {
    width: 13vh;
    height: 3em;
}

#imagesreuseblock h1.dialogtitle {
    background: #f4f4f4;
}

div#imageselectionlist {
    background: #f4f4f4;
    border-radius: 0 0 3vh 3vh;
    height: 37vh;
}

div#imageselectiondialogbuttons {
    justify-self: start;
    align-self: center;
    margin-left: 4vh;
}

div#imagesreuseblock {
    grid-template-rows: auto 37vh 1fr;
    width:95vh;
}
