/*basis-theme "luminoso"*/
/*jegliche css-deklaration muss mit klasse .luminoso starten */

/* hintergrund wird pro ppage festgelegt, nicht nur einmal fürs theme. sollte in zukunft geändert werden, aber momentan ists noch so. 
ppage ist der jeweilige presentation-slide. 
generelle sachen, wie bspw. schriftfarben, schriften etc. in die hauptdeklaration, abweichungen dann in den weiteren. 
ich leg dir hier ein muster vor, in das du deine sachen eintragen kannst. halt es einfach und semantisch, dann sollte nicht viel schief gehen.*/



:root{
  --minimalistBckgColor: #f4f4f4;
  --minimalistTextColor: #030303;

  --minimalistDataColor0: #96a0a4;
  --minimalistDataColor1: #5f7782;
  --minimalistDataColor2: #d8b26e;
  --minimalistDataColor3: #a8660f;
  --minimalistDataColor4: #736367;
  --minimalistDataColor5: #267e82;
  --minimalistDataColor6: #a1b9aa;
}

@font-face{
  font-family: "ComfortaaLight";
  src: url("../fonts/themes/minimalist/Comfortaa-Light.ttf");
}
@font-face{
  font-family: "KhulaReg";
  src: url("../fonts/themes/minimalist/Khula-Regular.ttf");
}
@font-face{
  font-family: "KhulaBold";
  src: url("../fonts/themes/minimalist/Khula-Bold.ttf");
}
@font-face{
  font-family: "OpenSansItalic";
  src: url("../fonts/themes/minimalist/OpenSans-Italic.ttf");
}
@font-face{
  font-family: "CutiveMono";
  src: url("../fonts/themes/minimalist/CutiveMono-Regular.ttf");
}


.luminoso, .luminoso .ppage {
	background: var(--minimalistBckgColor);
	color: var(--minimalistTextColor);
  font-weight: normal;
  font-family: "KhulaReg", Sans-Serif;
  font-size: 1.1em;
}



/*code affects both: inlinecode and codeblock*/
.luminoso code { 
  font-family: "CutiveMono", Monospace;
  font-size: 0.9em;
}
/*inline*/
.luminoso p code{
  padding: 0.12em 0.2em 0.12em 0.2em;
  color: white;
  background-color: var(--code-backg); 
}



/*codeblock affects only codeblocks*/
.luminoso code.codeblock{
    
}




.luminoso h1,
.luminoso h2,
.luminoso h3{
  font-family: "ComfortaaLight", Sans-Serif;
  font-weight: normal;
  
  text-shadow: 0.05em 0.03em var(--minimalistBckgColor);
}

.luminoso h1{
  font-size: 4em;
  margin-top: 25vh;
}

.luminoso h2,
.luminoso h3{
	margin-bottom: 0.7em;
}
.luminoso h2{
  
}

.luminoso h3{
 margin-bottom: 0.2em;
}


.luminoso .pblock h1+p, 
.luminoso .pblock h2+p, 
.luminoso .pblock h3+p {
  text-align: center;
    
}

.luminoso .inline .pblock h1+p,
.luminoso .inline .pblock h2+p,
.luminoso .inline .pblock h3+p{
  text-align: left;
  margin-top: 1em;
}

.luminoso .pblock h2+p, 
.luminoso .pblock h3+p {
   
}

.luminoso p{
	text-shadow: 0 0 0.5em var(--minimalistBckgColor);
  
}
.luminoso h1 img{
  
}
.luminoso h2 img{
  
}
.luminoso h3 img{
  
}

.luminoso .pblock h1+p img, 
.luminoso .pblock h2+p img, 
.luminoso .pblock h3+p img{
  
}

.luminoso p img{
  max-height: 1em;
}

.luminoso a{
  text-decoration: underline;
  font-family: "OpenSansItalic";
  color: var(--minimalistTextColor);
}

.luminoso .imageblock{
  font-size: 0.8em;
}

.luminoso b{
  font-family: "KhulaBold";
}

.luminoso i{
  font-family: "OpenSansItalic";
  font-size: 0.95em;
}

.luminoso strike{

}

.luminoso ul, .luminoso ol{
  padding: 0 0.8em;
  
}

.luminoso ul{

}

.luminoso ol{

}

.luminoso li{

}

.luminoso code.codeblock li{
  
}



/*sub-lists (unterpunkte/verschachtelung der listen)*/

.luminoso ul ul, .luminoso ol ul{
  
}

.luminoso ol ul, .luminoso ol ol{
  
}


.luminoso quote{
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.02em;
  text-underline-offset: 0.3em;
  line-height: 1.5em;
  font-family: "OpenSansItalic";
}

.luminoso p code{
  
}
.luminoso code.codeblock{

}

/* charts:*/

/* alle charts sind in einer section mit klasse chart*/
.luminoso section.chart{
  font-size: 0.7em;
  /*Portrait to 4:3*/
  /*max-height: calc(85.2vw/1.618); /*100vw - (padding-left + padding-right) = 85.2vw; golden ratio = 1.618*/
}

/*pie-charts:*/
.luminoso section.chart-pie{

}

/*bar-charts*/
.luminoso section.chart-bar{

}

/*line-charts*/
.luminoso section.chart-line{
  padding: 0 0 0 0.7em;

}

/*alle labels einer chart - wenn nur für bestimmte charts gewollt, muster von oben erweitern, also bspw. .luminoso .chart-bar .ct-label. hier die größen der schrift und farben für die labels generell anpassen */
.luminoso .ct-label{
  color: rgba(0, 0, 0, 0.7);
}
.luminoso .ct-chart-pie .ct-label,
.luminoso .ct-chart-donut .ct-label{
  fill: rgba(0, 0, 0, 1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  font-family: "KhulaBold";
}

.luminoso .ct-grid{
	stroke: var(--minimalistBckgColor);
}

/*x-achsen-label*/
.luminoso .chart-x-axis-label{

}

/*y-achsen-label*/
.luminoso .chart-y-axis-label{

}

/*dataset-label, was oben drüber steht und bspw. jahreszahl beinhaltet:*/
.luminoso .chart-datasetlabel{
  border: none;
  padding: 0;
  margin-left: 1em;
}

/*die box davon:*/
.luminoso .chart-datasetlabel-box{

}

.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-0{
	background: var(--minimalistDataColor0);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-1{
	background: var(--minimalistDataColor1);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-2{
	background: var(--minimalistDataColor2);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-3{
	background: var(--minimalistDataColor3);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-4{
	background: var(--minimalistDataColor4);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-5{
	background: var(--minimalistDataColor5);
}
.luminoso .chart-datasetlabel-box.chart-datasetlabel-box-6{
	background: var(--minimalistDataColor6);
}
/*datasetlabel und ihre boxen können auch einzeln angesprochen werden und sind von 0 an durchnummeriert. erstes datasetlabel heißt .chart-datasetlabel-0 */


/*farben: ich fasse die zusammen um einheitlichkeit herzustellen. jeder block umfasst immer äußere und innere farbe. das schema kann weiter erweitert werden, aber ich belasse es erstmal bei 5 farben. nicht deklarierte farben nimmt er die standard-farben die er schon hat. die ersten 5 farben sollten auf die präsentation zugeschnitten sein. jede farbe ist als "ct-series-a" bis "ct-series-z" paar.*/

.luminoso .ct-series-a .ct-point, .luminoso .ct-series-a .ct-line, .luminoso .ct-series-a .ct-bar, .luminoso .ct-series-a .ct-slice-donut {
  stroke: var(--minimalistDataColor0); 
}

.luminoso .ct-series-a .ct-slice-pie, .luminoso .ct-series-a .ct-slice-donut-solid, .luminoso .ct-series-a .ct-area {
  fill: var(--minimalistDataColor0); 
}

.luminoso .ct-series-b .ct-point, .luminoso .ct-series-b .ct-line, .luminoso .ct-series-b .ct-bar, .luminoso .ct-series-b .ct-slice-donut {
  stroke: var(--minimalistDataColor1); 
}

.luminoso .ct-series-b .ct-slice-pie, .luminoso .ct-series-b .ct-slice-donut-solid, .luminoso .ct-series-b .ct-area {
  fill: var(--minimalistDataColor1); 
}

.luminoso .ct-series-c .ct-point, .luminoso .ct-series-c .ct-line, .luminoso .ct-series-c .ct-bar, .luminoso .ct-series-c .ct-slice-donut {
  stroke: var(--minimalistDataColor2); 
}

.luminoso .ct-series-c .ct-slice-pie, .luminoso .ct-series-c .ct-slice-donut-solid, .luminoso .ct-series-c .ct-area {
  fill: var(--minimalistDataColor2); 
}

.luminoso .ct-series-d .ct-point, .luminoso .ct-series-d .ct-line, .luminoso .ct-series-d .ct-bar, .luminoso .ct-series-d .ct-slice-donut {
  stroke: var(--minimalistDataColor3); 
}

.luminoso .ct-series-d .ct-slice-pie, .luminoso .ct-series-d .ct-slice-donut-solid, .luminoso .ct-series-d .ct-area {
  fill: var(--minimalistDataColor3); 
}

.luminoso .ct-series-e .ct-point, .luminoso .ct-series-e .ct-line, .luminoso .ct-series-e .ct-bar, .luminoso .ct-series-e .ct-slice-donut {
  stroke: var(--minimalistDataColor4); 
}

.luminoso .ct-series-e .ct-slice-pie, .luminoso .ct-series-e .ct-slice-donut-solid, .luminoso .ct-series-e .ct-area {
  fill: var(--minimalistDataColor4); 
}

.luminoso .ct-series-f .ct-point, .luminoso .ct-series-f .ct-line, .luminoso .ct-series-f .ct-bar, .luminoso .ct-series-f .ct-slice-donut {
  stroke: var(--minimalistDataColor5); 
}

.luminoso .ct-series-f .ct-slice-pie, .luminoso .ct-series-f .ct-slice-donut-solid, .luminoso .ct-series-f .ct-area {
  fill: var(--minimalistDataColor5); 
}

.luminoso .ct-series-g .ct-point, .luminoso .ct-series-g .ct-line, .luminoso .ct-series-g .ct-bar, .luminoso .ct-series-g .ct-slice-donut {
  stroke: var(--minimalistDataColor6); 
}

.luminoso .ct-series-g .ct-slice-pie, .luminoso .ct-series-g .ct-slice-donut-solid, .luminoso .ct-series-g .ct-area {
  fill: var(--minimalistDataColor6); 
}


/*ende von charts*/

/*tables stehen in einer klassenlosen section. wenn du also .luminoso section bearbeitest hat das auch effekt auf deren container. ansonsten steuer tabellen direkt an über*/

.luminoso table{
  
}

.luminoso th, td{
  
}

.luminoso thead{
  font-family: "KhulaBold";
}

.luminoso table, th, td{
  border: 0.02em solid #030303;
  padding: 0 0.5em;
}

.luminoso thead{
  
}

.luminoso tbody{

}

.luminoso tr{

}

.luminoso td{

}

/* latex - elemente sind in einer section mit klasse klatex*/
.luminoso section.klatex{

}

/* layout-elemente sind sections mit section-klasse. sie beinhalten weitere elemente*/

.luminoso section.section{

}

/*layout-element auf linker seite, nimmt ca. ein drittel der linken seite ein*/
.luminoso section.section.left{
    
}

/*layout-element auf rechter seite, nimmt die hälfte des platzes ein, wenn nicht zwei weitere layout-sections "in reihe" stehen, dann nimmt er ein drittel*/
.luminoso section.section.right{

}


