.node .sequence {
    display: grid;
    grid-row-gap: 0.4em;
}

.node .sequence .stroke {
    grid-row: 1/last;
    width: 3px;
    height: 100%;
    background: black;
    justify-self: start;
}

.node .sequence .actor {
  border: 3px solid;
  padding: 1ch;
  background: aliceblue;
  text-align: center;
}
.node .sequence .arrow {
    overflow: hidden;
    width:100%;
}
.node .sequence .arrow .arrowimg{
  background: transparent;
  background-size: cover;
  background-position: right;
  height:1em;
}

.node .sequence .arrow div {
    text-align: center;
}

.node .sequence .arrow.toleft .arrowimg {
    transform: rotate(180deg);
}

.node .sequence .arrow.dashed .arrowimg{
  background-image:url("/themes/node/sequencearrowdashed.png");
}

.node .sequence .arrow.open .arrowimg{
  background-image:url("/themes/node/sequencearrowopen.png");
}
.node .sequence .arrow.normal .arrowimg{
  background-image:url("/themes/node/sequencearrownormal.png");
}
.node .sequence .arrow.noarrow .arrowimg{
  border-top:3px solid;
}

.node .sequence .note {
    border: 1px solid;
    text-align: center;
    padding: 0.2em;
    background: aliceblue;
    width: 100%;
}

.node .sequence .note.right {
    justify-self: start;
    margin-left:1ch;
}
.node .sequence .note.left{
  justify-self:end;
  margin-right:1ch;
}

.node .simpleflow .node {
    border: 1px solid;
    border-radius: 50%;
    width: 10ch;
    height: 10ch;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2/2;
    /* font-size: xx-large; */
}

.node .simpleflow .arrow {
    width:100%;
    height:100%;
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
}
.node .simpleflow .msg{
  z-index: 2;
}
.node .simpleflow .arrowimg{
  background: url('node/simpleflowhorizontal.png');
  background-size: cover;
  background-position: right;
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
}
.node .simpleflow .arrow.multi .arrowimg{
  background-image:url('node/simpleflowhorizontalmulti.png');
}
.node .simpleflow .arrow.multi.toleft .arrowimg{
  transform:scaleX(-1);
  height:3em;
}

.node .simpleflow .arrow.toleft .arrowimg{
  transform:rotate(180deg);
}
.node .simpleflow .arrowspace{
  grid-row:2/2;
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(1em,1fr));
  width:100%;
  height:100%;
}
.node .simpleflow {
    display: grid;
    grid-template-rows: 10ch;
    grid-template-columns: repeat(3,1fr 1fr 1fr 1fr);
}
.node .simpleflow .node.diamond {
    transform: rotate(45deg);
    border-radius: unset;
}

.node.diamond div {
    transform: rotate(-45deg);
}

.node .simpleflow .node.circle {
    border-radius: 50%;
}
.node .simpleflow .node.cloud {
  border-radius: 100px / 50px;
  background-color: white;
  text-align: center;
  position: relative;
  height: 6ch;
  width: 100%;
  border-color: transparent;
  box-shadow: 0px 0px 15px -2px;
}

.node .simpleflow .node.cloud::before {
  width: 6ch;
  height: 4ch;
  border-radius: 50%;
  background-color: white;
  line-height: 75px;
  text-align: center;
  position: absolute;
  content: "";
  top: -0.7ch;
  left: 1.5ch;
}

.node .simpleflow .node.cloud::after {
  width: 6ch;
  height: 6ch;
  border-radius: 50%;
  background-color: white;
  /* line-height: 75px; */
  /* text-align: center; */
  position: absolute;
  content: "";
  top: -14%;
  left: 39%;
  z-index: 1;
}

.node .node.cloud div {
    z-index: 3;
}
