.node .sequence {
    display: grid;
    grid-row-gap: 0.4em;
}

.node .sequence .stroke {
    grid-row: 1/last;
    width: 3px;
    height: 100%;
    background: black;
    justify-self: start;
}

.node .sequence .actor {
  border: 3px solid;
  padding: 1ch;
  background: aliceblue;
  text-align: center;
}
.node .sequence .arrow {
    overflow: hidden;
    width:100%;
}
.node .sequence .arrow .arrowimg{
  /*background: transparent;
  background-size: cover;
  background-position: right;
  */
  height:1em;
  width:100%;
  position: relative;
}

.node .sequence .arrow div {
    text-align: center;
}

.node .sequence .arrow.toleft .arrowimg {
    transform: scaleX(-1);
}
/*
old background-images:
background-image:url("/themes/node/sequencearrowdashed.png");
background-image:url("/themes/node/sequencearrowopen.png");
background-image:url("/themes/node/sequencearrownormal.png");
*/

/*pure css arrows:*/
.node .arrowimg::after {
    width: 1ch;
    height: 1ch;
    content: "";
    border-right: 3px solid;
    border-top: 3px solid;
    position: absolute;
    right: 3px;
    transform: rotate(45deg);
    top: -0.5ch;
    background: linear-gradient(to top right, transparent 50%, black 50%);
}

.node .arrowimg::before {
    width: 100%;
    height: 0;
    border-top: 2px solid;
    position: absolute;
    top: 0;
    content: " ";
    left: 0;
}
.node .broad .arrowimg::before {
    height: 2px;
    border-bottom: 2px solid;
    width: 98%;
    top: -1px;
}
.node .sequence .arrow.dashed .arrowimg::before{
  border-top:2px dashed;
}

.node .sequence .arrow.open .arrowimg::after{
  background:none;
}
.node .sequence .arrow.normal .arrowimg{
}
.node .sequence .arrow.noarrow .arrowimg{
  border-top:3px solid;
}
.node .sequence .arrow.noarrowdashed .arrowimg{
  border-top:3px dashed;
}
.node .sequence .note {
    border: 1px solid;
    text-align: center;
    padding: 0.2em;
    background: aliceblue;
    width: 100%;
}

.node .sequence .note.right {
    justify-self: start;
    margin-left:1ch;
}
.node .sequence .note.left{
  justify-self:end;
  margin-right:1ch;
}

.node .simpleflow .node {
    border: 1px solid;
    border-radius: 50%;
    width: 10ch;
    height: 10ch;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2/2;
    /* font-size: xx-large; */
}

.node .simpleflow .arrow {
    width:100%;
    height:100%;
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    grid-template-columns:60%;
}
.node .simpleflow .msg{
  z-index: 2;
}

.node .simpleflow .triangle {
    display: none;
}
.node .simpleflow .arrowspace .broad .triangle{
  display:block;
}

.node .simpleflow .arrowspace .arrowimg {
    position: relative;
    width: 100%;
    margin-top:10px;
}


.node .simpleflow .arrowspace .broad .arrowimg{
  background-size: cover;
  background-position: right;
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
  display:grid;
  grid-template-columns:5fr 3fr;
  margin-top:0;
  margin-right:2ch;
}
/*
background: url('node/simpleflowhorizontal.png');
old background-urls:
background-image:url('node/simpleflowhorizontalmulti.png');
*/
.simpleflow .arrowspace .broad .arrowimg::before,
.node .simpleflow .arrowspace .broad .arrowimg::after {
    display:none;
}
  /*
.simpleflow .arrowspace .arrowimg::before{
    height: 60%;
    background: lightblue;
    top: 20%;
    left: 0;
    border: none;
    width: 75%;
}
.node .simpleflow .arrowspace .arrowimg::after {
    height: 4.5em;
    width: 4.5em;
    right: 0;
    top: 10%;
    background: linear-gradient(to top right, transparent 50%, lightblue 50%);
    border: none;
}
*/

.node .simpleflow .arrowspace .broad .triangle {
    width: 100%;
    background: linear-gradient(to top right, transparent 50%, lightblue 50%);
    transform: rotate(45deg);
    grid-column: 2;
    align-self: center;
}

.node .simpleflow .arrowspace .broad .triangle::after {
    padding-bottom: 100%;
    content: " ";
    display: block;
}
.node .simpleflow .arrowspace .broad .triangle::before {
  content: "";
  width: 180%;
  padding-top: 100%;
  position: absolute;
  background: lightblue;
  bottom: -50%;
  transform: rotate(-45deg);
  left: -87%;
}

.node .simpleflow .multi .triangle {
    display: none;
}

.node .simpleflow .arrow.multi .arrowimg{
  height:100%;
  width:100%;
  position: absolute;
}
.node .simpleflow .multi {
    height: 3em;
}

.node .multi .arrowimg::before {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: none;
    height: 100%;
    content:"";
}

.node .multi .arrowimg::after {
    top: 0;
    right: -0.9ch;
    transform: rotate(-45deg);
}

.node .simpleflow .arrow.multi.toleft .arrowimg{
  transform:scaleX(-1);
}

.node .simpleflow .arrow.toleft .arrowimg{
  transform:scaleX(-1);
}
.node .simpleflow .arrowspace{
  grid-row:2/2;
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(1em,1fr));
  width:100%;
  height:100%;
}
.node .simpleflow {
    display: grid;
    grid-template-rows: 10ch;
    grid-template-columns: repeat(3,1fr 1fr 1fr 1fr);
}
.node .simpleflow .node.diamond {
    transform: rotate(45deg);
    border-radius: unset;
}

.node.diamond div {
    transform: rotate(-45deg);
}

.node .simpleflow .node.circle {
    border-radius: 50%;
}
.node .simpleflow .node.cloud {
  border-radius: 100px / 50px;
  background-color: white;
  text-align: center;
  position: relative;
  height: 6ch;
  width: 100%;
  border-color: transparent;
  box-shadow: 0px 0px 15px -2px;
}

.node .simpleflow .node.cloud::before {
  width: 6ch;
  height: 4ch;
  border-radius: 50%;
  background-color: white;
  line-height: 75px;
  text-align: center;
  position: absolute;
  content: "";
  top: -0.7ch;
  left: 1.5ch;
}

.node .simpleflow .node.cloud::after {
  width: 6ch;
  height: 6ch;
  border-radius: 50%;
  background-color: white;
  /* line-height: 75px; */
  /* text-align: center; */
  position: absolute;
  content: "";
  top: -14%;
  left: 39%;
  z-index: 1;
}

.node .node.cloud div {
    z-index: 3;
}
.node .node.block{
  border-radius:unset;
}

.node .tree{
  display:grid;
  justify-items: center;
  align-items: center;
}

.node .tree .node {
    width: 100%;
    text-align: center;
    display: grid;
    justify-items:center;
}

.node .tree .arrowspace{
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-gap: 3em;
}

.node .tree .arrowspace .arrowimg {
    position: relative;
    width: 100%;
    height: 3em;
    z-index: 1;
}

.node .tree .arrowspace .arrowimg::after {
    right: auto;
    transform: rotate(135deg);
    height: 4em;
    width: 4em;
    opacity: 0.3;
    top: -2em;
}

.node .tree .arrowspace .arrowimg::before {
    display: none;
}
.node .tree .arrowspace .up .arrowimg::after{
  transform: rotate(-45deg);
  top: 1em;
}

.node .tree .arrowspace div {
    z-index: 2;
}

.node .tree .arrowspace .down,
.node .tree .arrowspace .up {
  display: grid;
  grid-template-areas:"arrow";
  justify-items: center;
  text-align: center;
}

.node .tree .down > div{
  grid-area:arrow;
  align-self: start;
}
.node .tree .up > div {
  grid-area: arrow;
  align-self: end;
}


.node .tree .content {
    border: 3px solid;
    border-radius: 9px;
    width: 90%;
    justify-self: center;
}
