/*basis-theme "redalert"*/
/*jegliche css-deklaration muss mit klasse .redalert starten */

/* hintergrund wird pro ppage festgelegt, nicht nur einmal fürs theme. sollte in zukunft geändert werden, aber momentan ists noch so. 
ppage ist der jeweilige presentation-slide. 
generelle sachen, wie bspw. schriftfarben, schriften etc. in die hauptdeklaration, abweichungen dann in den weiteren. 
ich leg dir hier ein muster vor, in das du deine sachen eintragen kannst. halt es einfach und semantisch, dann sollte nicht viel schief gehen.*/



:root{
  --darkBckgColor: #030303;
  --darkTextColor: #f4f4f4;

  --darkDataColor0: #E7DB74;
  --darkDataColor1: #A87DF5;
  --darkDataColor2: #67D8EF;
  --darkDataColor3: #F92472;
  --darkDataColor4: #68CA28;
  --darkDataColor5: #aeaec8;
  --darkDataColor6: #dd8e49;
}

@font-face{
  font-family: "Staatliches";
  src: url("../fonts/themes/dark/Staatliches-Regular.ttf");
}
@font-face{
  font-family: "Ubuntu-Light";
  src: url("../fonts/themes/dark/Ubuntu-Light.ttf");
}
@font-face{
  font-family: "Ubuntu-Medium";
  src: url("../fonts/themes/dark/Ubuntu-Medium.ttf");
}
@font-face{
  font-family: "Ubuntu-LightItalic";
  src: url("../fonts/themes/dark/Ubuntu-LightItalic.ttf");
}
@font-face{
  font-family: "UbuntuMonoReg";
  src: url("../fonts/UbuntuMono-Regular.ttf");
}


.redalert, .redalert .ppage {
	background: var(--darkBckgColor);
	color: var(--darkTextColor);
  font-weight: normal;
  font-family: "Ubuntu-Light", Sans-Serif;
  font-size: 1.1em;
}



/*code affects both: inlinecode and codeblock*/
.redalert code { 
  font-family: "UbuntuMonoReg", Monospace;
  font-size: 0.9em;
}
/*inline*/
.redalert p code{
  padding: 0.12em 0.2em 0.12em 0.2em;
  color: white;
  background-color: #484848; 
}



/*codeblock affects only codeblocks*/
.redalert code.codeblock{
    
}




.redalert h1,
.redalert h2,
.redalert h3{
  font-family: "Staatliches", Sans-Serif;
  font-weight: normal;
  line-height: 1em;

  text-shadow: 0.05em 0.03em var(--darkBckgColor);
}

.redalert h1{
  font-size: 4.5em;
  margin-top: 20vh;
}

.redalert h2,
.redalert h3{
	margin-bottom: 0.7em;
}

.redalert h2{
	font-size: 2.5em;
  
}

.redalert h3{
 margin-bottom: 0.2em;
 font-size: 2em;
}


.redalert .pblock h1+p, 
.redalert .pblock h2+p, 
.redalert .pblock h3+p {
  text-align: center;
    
}

.redalert .inline .pblock h1+p,
.redalert .inline .pblock h2+p,
.redalert .inline .pblock h3+p{
  text-align: left;
  margin-top: 1em;
}

.redalert .pblock h2+p, 
.redalert .pblock h3+p {
   
}

.redalert p{
  text-shadow: 0 0 0.5em var(--darkBckgColor);
}
.redalert h1 img{
  
}
.redalert h2 img{
  
}
.redalert h3 img{
  
}

.redalert .pblock h1+p img, 
.redalert .pblock h2+p img, 
.redalert .pblock h3+p img{
  
}

.redalert p img{
  max-height: 1em;
}

.redalert a{
  text-decoration: underline;
  font-family: "Ubuntu-LightItalic";
  color: var(--darkTextColor);
}

.redalert .imageblock{
  font-size: 0.8em;
}

.redalert b{
  font-family: "Ubuntu-Medium";
}

.redalert i{
  font-family: "Ubuntu-LightItalic";
  font-size: 0.95em;
}

.redalert strike{

}

.redalert ul, .redalert ol{
  padding: 0 0.8em;
  
}

.redalert ul{

}

.redalert ol{

}

.redalert li{

}

.redalert code.codeblock li{
  
}



/*sub-lists (unterpunkte/verschachtelung der listen)*/

.redalert ul ul, .redalert ol ul{
  
}

.redalert ol ul, .redalert ol ol{
  
}


.redalert quote{
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.02em;
  text-underline-offset: 0.3em;
  line-height: 1.5em;
  font-family: "Ubuntu-LightItalic";
}

.redalert p code{
  
}
.redalert code.codeblock{

}

/* charts:*/

/* alle charts sind in einer section mit klasse chart*/
.redalert section.chart{
  font-size: 0.7em;
  background: var(--darkBckgColor);
  /*Portrait to 4:3*/
  /*max-height: calc(85.2vw/1.618); /*100vw - (padding-left + padding-right) = 85.2vw; golden ratio = 1.618*/
}

/*pie-charts:*/
.redalert section.chart-pie{
	font-family: "Ubuntu-Medium";
}

/*bar-charts*/
.redalert section.chart-bar{

}

/*line-charts*/
.redalert section.chart-line{
  padding: 0 0 0 0.7em;

}

/*alle labels einer chart - wenn nur für bestimmte charts gewollt, muster von oben erweitern, also bspw. .redalert .chart-bar .ct-label. hier die größen der schrift und farben für die labels generell anpassen */
.redalert .ct-label{
  color: var(--darkTextColor);
  fill: var(--darkTextColor);
}
.redalert .ct-chart-pie .ct-label,
.redalert .ct-chart-donut .ct-label{
  fill: rgba(0, 0, 0, 1);
  text-shadow: 0 0 3px white;
}

.redalert .ct-grid{
	stroke: var(--darkTextColor);
}

/*x-achsen-label*/
.redalert .chart-x-axis-label{

}

/*y-achsen-label*/
.redalert .chart-y-axis-label{

}

/*dataset-label, was oben drüber steht und bspw. jahreszahl beinhaltet:*/
.redalert .chart-datasetlabel{
  border: none;
  padding: 0;
  margin-left: 1em;
}

/*die box davon:*/
.redalert .chart-datasetlabel-box{

}

.redalert .chart-datasetlabel-box.chart-datasetlabel-box-0{
	background: var(--darkDataColor0);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-1{
	background: var(--darkDataColor1);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-2{
	background: var(--darkDataColor2);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-3{
	background: var(--darkDataColor3);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-4{
	background: var(--darkDataColor4);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-5{
	background: var(--darkDataColor5);
}
.redalert .chart-datasetlabel-box.chart-datasetlabel-box-6{
	background: var(--darkDataColor6);
}
/*datasetlabel und ihre boxen können auch einzeln angesprochen werden und sind von 0 an durchnummeriert. erstes datasetlabel heißt .chart-datasetlabel-0 */


/*farben: ich fasse die zusammen um einheitlichkeit herzustellen. jeder block umfasst immer äußere und innere farbe. das schema kann weiter erweitert werden, aber ich belasse es erstmal bei 5 farben. nicht deklarierte farben nimmt er die standard-farben die er schon hat. die ersten 5 farben sollten auf die präsentation zugeschnitten sein. jede farbe ist als "ct-series-a" bis "ct-series-z" paar.*/

.redalert .ct-series-a .ct-point, .redalert .ct-series-a .ct-line, .redalert .ct-series-a .ct-bar, .redalert .ct-series-a .ct-slice-donut {
  stroke: var(--darkDataColor0); 
}

.redalert .ct-series-a .ct-slice-pie, .redalert .ct-series-a .ct-slice-donut-solid, .redalert .ct-series-a .ct-area {
  fill: var(--darkDataColor0); 
}

.redalert .ct-series-b .ct-point, .redalert .ct-series-b .ct-line, .redalert .ct-series-b .ct-bar, .redalert .ct-series-b .ct-slice-donut {
  stroke: var(--darkDataColor1); 
}

.redalert .ct-series-b .ct-slice-pie, .redalert .ct-series-b .ct-slice-donut-solid, .redalert .ct-series-b .ct-area {
  fill: var(--darkDataColor1); 
}

.redalert .ct-series-c .ct-point, .redalert .ct-series-c .ct-line, .redalert .ct-series-c .ct-bar, .redalert .ct-series-c .ct-slice-donut {
  stroke: var(--darkDataColor2); 
}

.redalert .ct-series-c .ct-slice-pie, .redalert .ct-series-c .ct-slice-donut-solid, .redalert .ct-series-c .ct-area {
  fill: var(--darkDataColor2); 
}

.redalert .ct-series-d .ct-point, .redalert .ct-series-d .ct-line, .redalert .ct-series-d .ct-bar, .redalert .ct-series-d .ct-slice-donut {
  stroke: var(--darkDataColor3); 
}

.redalert .ct-series-d .ct-slice-pie, .redalert .ct-series-d .ct-slice-donut-solid, .redalert .ct-series-d .ct-area {
  fill: var(--darkDataColor3); 
}

.redalert .ct-series-e .ct-point, .redalert .ct-series-e .ct-line, .redalert .ct-series-e .ct-bar, .redalert .ct-series-e .ct-slice-donut {
  stroke: var(--darkDataColor4); 
}

.redalert .ct-series-e .ct-slice-pie, .redalert .ct-series-e .ct-slice-donut-solid, .redalert .ct-series-e .ct-area {
  fill: var(--darkDataColor4); 
}

.redalert .ct-series-f .ct-point, .redalert .ct-series-f .ct-line, .redalert .ct-series-f .ct-bar, .redalert .ct-series-f .ct-slice-donut {
  stroke: var(--darkDataColor5); 
}

.redalert .ct-series-f .ct-slice-pie, .redalert .ct-series-f .ct-slice-donut-solid, .redalert .ct-series-f .ct-area {
  fill: var(--darkDataColor5); 
}

.redalert .ct-series-g .ct-point, .redalert .ct-series-g .ct-line, .redalert .ct-series-g .ct-bar, .redalert .ct-series-g .ct-slice-donut {
  stroke: var(--darkDataColor6); 
}

.redalert .ct-series-g .ct-slice-pie, .redalert .ct-series-g .ct-slice-donut-solid, .redalert .ct-series-g .ct-area {
  fill: var(--darkDataColor6); 
}


/*ende von charts*/

/*tables stehen in einer klassenlosen section. wenn du also .redalert section bearbeitest hat das auch effekt auf deren container. ansonsten steuer tabellen direkt an über*/

.redalert table{
  
}

.redalert th, td{
  
}

.redalert thead{
  font-family: "Ubuntu-Medium";
}

.redalert table, th, td{
  border: 0.02em solid #030303;
  padding: 0 0.5em;
}

.redalert thead{
  
}

.redalert tbody{

}

.redalert tr{

}

.redalert td{

}

/* latex - elemente sind in einer section mit klasse klatex*/
.redalert section.klatex{

}

/* layout-elemente sind sections mit section-klasse. sie beinhalten weitere elemente*/

.redalert section.section{

}

/*layout-element auf linker seite, nimmt ca. ein drittel der linken seite ein*/
.redalert section.section.left{
    
}

/*layout-element auf rechter seite, nimmt die hälfte des platzes ein, wenn nicht zwei weitere layout-sections "in reihe" stehen, dann nimmt er ein drittel*/
.redalert section.section.right{

}


